.forgot-password {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;    
    background-color: #bfbdc1;
    background: rgb(222,184,65);
    background: radial-gradient(circle, rgba(222,184,65,1) 0%, rgba(222,158,54,1) 100%);
  
    .instructions {
      width: 100%;
      text-align: center;
    }
  
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 30%;
      height: 65%;
      min-width: 500px;
      border-radius: 16px;
      background-color: #ffffff; 
      padding: 22px 52px;
    }
  }